ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: #84c754;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: #84c754;
}

.active {
  border-style: solid;
  border-width: 1px;
  border-color: #E6E6E6;
  background-color: #E6E6E6;
}

body {
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}

header {
  background: #84c754;
  height: 100px;
}

header h1 {
  margin: 0;
  padding-top: 15px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
  background: #32a4e7;

}

nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 230px;
  margin-left: -230px;
  background: #32a4e7;
}

footer {
  clear: left;
  width: 100%;
  background: #32a4e7;
  text-align: center;
  padding: 4px 0;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-right: 230px; /* Same as 'nav' width */
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}
